
:root {
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  body {
    background-image: url(images/dogway.jpeg);
    display: block;
    
    margin: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  main {
      max-width: 1200px;
      margin: auto;
  }
  
  /* Navigaatiopalkin tyylit */
  nav {
    background-color: #2c1901;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    
  }
  nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }

  nav a:first-child {
    float: left;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }


  * {
    box-sizing: border-box;
  }
  a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
  }
  a:hover {
    background-color: #95601a;
    padding: 10px;
    border-radius: 10px;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  

  #herokuva {
    background-color: #95601a;
    height: 57vh;
    
    
    background-image: url(images/dogsunset.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px;
}



@media screen and (max-width: 1000px) {
    #herokuva {
        display: none;
    }
    #kuva {
        display: none;
    }
    #pyörä {
        display: none;
    }
    #text {
        margin-top: 100px;
    }
}

/* Etusivutyylittely */

.etuvalikko {
  color: white;
  background-color: #2c1901d7;
  padding: 30px;
  
  border: 3px;
  width: 650px;
  border-radius: 50px;
  /*text-align: center; */

  margin: auto;
  display: block;
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
}


  #koiraystävä {
    width: 300px;
    margin: 20px;
  }

  .content {
    color: white;
    background-color: #2c1901d7;
    padding: 10px;
    border: 3px;
    width: 800px;
    border-radius: 50px;
    /*text-align: center; */

    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
}

.container {
  display: flex;
  margin: 50px;
  margin-bottom: 470px;
}

/* Formin tyylittely */
form {
  /* background-color: #009879;
  color: #ffffff;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  width: 300px;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */

background-color: #2c1901d7;
color: #ffffff;
padding: 20px;
font-weight: bold;
width: 600px;
font-size: 0.9em;
font-family: sans-serif;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
border-radius: 20px; /* Pyöristetyt reunat */
margin: 0; /* Poistetaan oletusmarginaalit */
}

.create_user_form, .login_form {
  margin: 50px;
}

.create_user_form input[type="submit"], .login_form input[type="submit"] {
  display: block;
  padding: 10px;
  margin: 20px auto;
}


















  
/* Toisen sivun sääntöjä */
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  h4 {
    border-bottom: 4px solid #975a0e;
    
  }
  
  button.del, button.check, button.update {
    padding: 0.3rem 0.6rem;
    margin: 0;
  }
  
  button.update {
    background-color: #f2e49448;
  }
  
  button.del {
    background-color: #f2a29448;
  }

  
  
  ::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
  
  /* Navigaatiolista tyylittely */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff724f;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #c83d3d;
  }
  
  .active {
    background-color: black;
  }
  
  /* Käyttäjä loggaantunut tyylittely */
  .user {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 50px;
    
  }
  #name {
    font-weight: bolder;
  }

  /* Päiväkirjamerkintöjen tyylittely */

  /* Training Diary Form Tyylittely */
  #diary-form {
    background-color: #2c1901d5; /* Taustaväri */
    padding: 20px;
    width: 70%; /* Leveys */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Varjostus */
    border-radius: 20px; /* Pyöristetyt reunat */
    margin: 50px auto; /* Keskitetty */
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex; /* Flexbox-asettelu */
    flex-direction: column; /* Lapsielementit pystysuunnassa */
    align-items: center; /* Keskitetään sisältö */
  }
  
  /* Form elementin tyylit, kun se on .training-diary-form sisällä */
  .training-diary-form form {
    width: 100%; /* Asetetaan leveydeksi 100% containerista */
    font-weight: bold;
    font-size: 0.9em;
    font-family: sans-serif;
  }
  
  /* Input ja textarea-tyylit pysyvät samana */
  .training-diary-form input[type="text"],
  .training-diary-form input[type="number"],
  .training-diary-form input[type="date"],
  .training-diary-form textarea {
    width: calc(100% - 20px); /* Vähennetään padding */
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Button-tyylit pysyvät samana */
  .training-diary-form button {
    background-color: #986627;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px 0; /* Marginaali säätö */
    font-size: 1em;
  }
  
  .training-diary-form button:hover {
    background-color: #98652771;
  }



/* Aikaisemmat päiväkirjamerkinnät tyylittely*/

.diaryEntriesContainer {
  background-color: #2c1901d7;
  color: #ffffff;
  padding: 20px;
  width: 70%;
  margin: 20px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 300px;
}

.diaryEntriesContainer th, .diaryEntriesContainer td {
  padding: 10px;
  border: 1px solid #ccc;
}

#fetchEntries {
  background-color: #986627;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-size: 1em;
  
}

#fetchEntries:hover {
  background-color: #7a4a0fc5;
}




/* Päiväkirjamerkintöjen muokkaaminen */



/* Modal-ikkunan perustyylit */


.modal {
  display: none;
  position: fixed;
  z-index: 1000; /* Varo overlappeja */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Modernimpi läpinäkyvyys */
}

/* Modal-ikkunan sisältö */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%; /* Leveyttä pienennetty */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lisätty kevyt varjostus */
}

/* Sulje-nappulan tyyli */
.close-button {
  color: #999;
  float: right;
  font-size: 24px;
}

.close-button:hover,
.close-button:focus {
  color: #333;
  cursor: pointer;
}

/* Yleinen input- ja textarea-tyylit */
#edit-diary-form input,
#edit-diary-form textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Nappulan tyyli */
#edit-diary-form button {
  background-color: #008CBA; /* Modernimpi väri */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Tee nappulasta lohkoelementti */
  margin: 20px auto; /* Keskitä nappula */
  width: 50%;
}

#edit-diary-form button:hover {
  background-color: #005f73;
}


  /* Uudet formi tyylittelyt */

  /* .forms {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #2c1901d6; 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    max-width: 800px; 
    margin: 20px auto; 
    margin-bottom: 200px;
  }
  
  .styled-table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px; 
  }
  
  .styled-table thead tr {
    background-color: #986627; 
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    padding: 10px; 
    border-bottom: 1px solid ; 
  }
  
  .styled-table tbody tr:hover {
    background-color: #986627; 
  }
  
  .get_users {
    background-color: #986627; 
    color: white; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    display: block;
    width: max-content; 
    margin: 20px auto; 
    font-size: 1em;
  }
  
  .get_users:hover {
    background-color: #98652771; 
  }
   */
  
  
  
  

  /* Input kenttien tyylittely */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  /* Koodiesimerkin tyylittely */
  pre {
    background-color: aliceblue;
  }
  
  #loginResponse, #meResponse {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    display: block;
    width: 100%;
    word-break:break-all;
  }
  
  @media screen and (max-width: 800px) {
    .forms {
      flex-direction: column;
    }
  }





  
  footer {
            
    background-color: #2c1901;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    margin-top: 300px;
    position: fixed;
    bottom: 0;

    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}